body{
    margin: 0px;
    text-align: center;
    font-family: arial;
}
.title{
    font-size: 45px;
    margin: 0px;
    margin-top: 3vh;
}
.subtitle{
    font-size: 20px;
    margin: 0px;
    margin-top: 7px;
}
.inputContainer{
    width: 100%;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.outputContainer{
    margin-top: 10vh;
}
.outputTitle{
    font-size: 20px;
}
.submit{
    margin-top: 5vh;
}
.submit:hover{
    cursor: pointer;
}